extends base.pug
block title 
    title Feedback | What you think about us
block style 
    style 
        include ../static/base.css
        include ../static/feedback.css

block content 


    <div class="myForm">

        <h2 class="form-heading">Tell Us what you think...</h2>
        <form action="/feedback" method="post">
            <input type="text" class="form-input" name="name" placeholder="Enter your Name" required  maxlength="15">
            <input type="email" class="form-input" name="email" placeholder="Enter your E-mail"  required>
            <input type="text" class="form-input" name="phone" placeholder="Enter your Phone" required>
            <input type="text" class="form-input" name="region" placeholder="Enter your Region">
            <textarea name="concern" class="form-input-area" rows="7" required placeholder="What you think about Us...📑"></textarea>
            <button class="form-btn" id="submitBtn"  onclick="confirm_user()">Submit </button>
        </form>
        
    </div>
    
    

    
