.myForm {

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background: url('/static/img/bg.jpg') no-repeat center center/cover;
    opacity: 0.8;
    z-index: 1;
}


form {
    display: flex;
    flex-direction: column;
    /* display: 80vw; */
}

.form-heading {
    text-align: center;
    color: #1be5f3; 
    text-shadow: 5px 5px 2px rgb(53, 61, 59);
    padding: 21px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 33px;
}

.form-input-area { 
    font-size: 1rem;
    padding: 0.8rem;
    margin-top: 11px; 
    resize: none;
    outline: none;
    border: 1px solid gray;
    border-radius: 6px; 
}

.form-input {
    border: 1px solid gray;
    margin: 11px 0;
    font-size: 1rem;
    padding: 0.8rem; 
    border-radius: 6px; 
    width: 593px; 
    width: 70vw;
}
 
.form-input:focus, .form-input-area:focus{
    outline: none;
    border: 1px solid #00bcd4;
    border-color: #00bcd4;
}

.form-btn {
    /* width: 30vw; */
    padding: 0.5rem 0.3rem;
    padding: 0.5rem 1.8rem;
    background: linear-gradient(135deg, #00bcd4, #008394);
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    margin: 23px auto;
}

.form-btn:hover {
    background: linear-gradient(135deg, #008394, #005f66);
    transform: scale(1.05);
}

@media screen and (max-width: 480px){
    .form-input {
        width: 85vw;
        /* width: 500px; */
    }
}
/* It is for removing the some elements from contact form  */
.up {
    display: none;
}

.order_button {
    display: none;
}  
